@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

:root {
  --primary-dark: #222831;
  --secondary-dark: #393e46;
  --primary-light: #eeeeee;
  --secondary-light: #00adb5;
  --primary-light-opacity: #eeeeee52;
  --secondary-light-opacity-10: #00acb51a;
  --secondary-light-opacity-20: #00adb533;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --body-bg: rgba(15, 72, 228, 0.2);
  --box-shadow-primary: rgba(15, 72, 228, 0.2) 0px 5px 15px;
  --toggle-btn: var(--primary-dark);
  --h2-color: rgba(0, 0, 0, 0.7);
  --log-in-bg: var(--primary-light);
  --log-in-color: var(--primary-dark);
  --question-box-bg: var(--primary-light);
  --question-box-color: var(--primary-dark);
  --option-border: var(--primary-dark);
  --option-hover: var(--bs-blue);
  --option-hover-bg: rgba(15, 72, 228, 0.1);
  --option-checked-bg: rgba(15, 72, 228, 0.2);
  --result-bg: var(--primary-light);
  --result-color: var(--primary-dark);
  --scroll-bg: rgba(15, 72, 228, 0.2);

  background-color: var(--body-bg);
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}

/*-----------Dark Mode----------- */
body.dark {
  --body-bg: var(--primary-dark);
  --box-shadow-primary: var(--primary-light-opacity) 0px 5px 15px;
  --toggle-btn: var(--primary-light);
  --h2-color: var(--primary-light);
  --log-in-bg: var(--secondary-dark);
  --log-in-color: var(--primary-light);
  --question-box-bg: var(--secondary-dark);
  --question-box-color: var(--primary-light);
  --option-border: var(--primary-light);
  --option-hover: var(--secondary-light);
  --option-hover-bg: var(--secondary-light-opacity-10);
  --option-checked-bg: var(--secondary-light-opacity-20);
  --result-bg: var(--secondary-dark);
  --result-color: var(--primary-light);
  --scroll-bg: var(--primary-light-opacity);
}

.toggle-dark {
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.toggle-dark .btn {
  border: 1px solid var(--toggle-btn);
  color: var(--toggle-btn);
}

.header {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-button {
  margin-top: 10%;
}

h2 {
  font-weight: 600 !important;
  transition: 0.3s ease;
  color: var(--h2-color);
}

h2:hover {
  font-size: 40px;
}

.log-in {
  display: block;
  padding: 30px 40px;
  width: 540px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--log-in-bg);
  font-weight: 300;
  border-radius: 8px;
  color: var(--log-in-color);
  box-shadow: var(--box-shadow-primary);
}

.quiz {
  display: none;
}

.progress {
  width: 540px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--box-shadow-primary);
}

.question-box {
  display: block;
  padding: 30px 40px;
  width: 540px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--question-box-bg);
  color: var(--question-box-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow-primary);
}

.question {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

.option-list {
  margin-top: 20px;
}

input[type="radio"] + label {
  width: 100%;
  border: 1px solid var(--option-border);
  font-weight: 300;
  padding: 5px 10px;
  border-radius: 8px;
}

input[type="radio"] + label:hover {
  border: 1px solid var(--option-hover);
  color: var(--option-hover);
  cursor: pointer;
  background-color: var(--option-hover-bg);
}

input[type="radio"]:checked + label {
  border: 1px solid var(--option-hover);
  color: var(--option-hover);
  cursor: pointer;
  background-color: var(--option-checked-bg);
}

.result {
  display: none;
  width: 540px;
  height: 400px;
  padding: 30px 40px;
  position: absolute;
  top: 55%;
  left: 50%;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  background-color: var(--result-bg);
  color: var(--result-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow-primary);
}

.label {
  width: 100%;
  border: 1px solid black;
  font-weight: 300;
  padding: 5px 10px;
  border-radius: 8px;
}

p {
  margin: 0px;
}

.icon {
  color: var(--bs-green);
  font-size: 12px;
  align-items: center;
}

.icon-false {
  color: var(--bs-red);
}

.icon-skipped {
  color: var(--bs-orange);
}
/* Scrollbar styling */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-bg);
  border-radius: 8px;
}
